*, *::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: hsl(217, 54%, 11%) */
  
        
}
body{
font-family: "Outfit";
margin: 0;
padding: 0;
}

.main{
    background-color: hsl(216, 50%, 16%);
    padding: 1rem;
    width:330px;
    /* height:400px; */
    margin-left:500px;
    margin-top: 50px;
    border-radius: 1rem;
}
.name{
    color:hsl(0, 0%, 100%);
}
.create{
    color:hsl(215, 51%, 70%);
    /* margin-left:5px; */
    padding-left: 0.5rem;
}
.img-1{
    width:300px;
    border-radius: 1rem;
}
.img-2{
    width:20px;
}
.avatar{
    display: flex;
    gap:7rem;
    padding-top: 25px;
}