*, *::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: hsl(217, 54%, 11%) */
  
        
}
body{
font-family: "Outfit";
margin: 0;
padding: 0;
}

.main{
    background-color: hsl(215, 32%, 27%);
    padding: 1rem;
    width:340px;
    /* height:400px; */
    margin-left:500px;
    margin-top: 100px;
    border-radius: 1rem;
    margin-bottom: 20px;
}
.name{
    color:hsl(0, 0%, 100%);
}
.create{
    color:hsl(215, 51%, 70%);
    /* margin-left:5px; */
    padding-left: 0.5rem;
}
.img-1{
    width:300px;
    border-radius: 1rem;
    /* padding-top: 25px; */
}
.img-2{
    width:25px;
    border: 1.5px solid hsl(0, 0%, 100%);
    border-radius: 50%;
}
.avatar{
    display: flex;
    gap:7rem;
    padding-top: 25px;
    padding-bottom: 25px;
}
.ethe{
    padding-right: 0.3rem;
}
.days{
    padding-right: 0.2rem;
}
.jules{
    border-top: 0.2px solid hsl(215, 51%, 70%);
}